---
layout: base
---
<div class="floater">
    <p class="name">ak rai</p>
</div>

<!-- add paint brush for art, something for projects, something for blog -->
<!-- when icon hovered over, fade in a centered description" -->
<div class="links">
    <ul class="linklist">
        {% for link in site.data.links %}
        <a href="{{ link.url }}" target="_blank">
            <i class="fab {{ link.icon }} fa-3x grow"></i>
        </a>
        {% endfor %}
    </ul>
</div>

<!-- Generate all content groups --> 
{% for group in site.data.groups %}
<section class="group" style="background-color: #ffffff;">
    <div class="header1">
        <p class="hobby">{{ group.name }}</p>
    </div>
    <ul class="list-group list-group-horizontal">
        {% for item in group.data %}
        <li class="list-group-item">
            <div class="card shadow-lg" style="width: 18rem; height: 20rem;">
                <img src="/assets/images/{{ item.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.desc }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}