---
layout: base
title: Projects
---
<head>
    <link rel="stylesheet" href="/assets/css/projects.css">
</head>

<div class="container-fluid project-container">
    <h1>Projects</h1>
    <div class="row project-items">
        {% assign half = site.data.projects.size | divided_by:2 %}
        {% assign projects1 = site.data.projects | slice: 0, half %}
        {% assign projects2 = site.data.projects | slice: half, site.data.projects.size %}

        <!-- col 1 -->
        <div class="col-md-6">
        {% for proj in projects1 %}
            {% include project-item.html %}
        {% endfor %}
        </div>

        <!-- col 2 -->
        <div class="col-md-6">
        {% for proj in projects2 %}
            {% include project-item.html %}
        {% endfor %}
        </div>

    </div>
</div>

<script>
    function toggleContent(projectId, buttonId) {
        var content = document.getElementById(projectId);
        var button = document.getElementById(buttonId);

        if (content.style.display === "none") {
            content.style.display = "block";
            button.textContent = "▲ Collapse";
        }
        else {
            content.style.display = "none";
            button.textContent = "▼ More info";
        }
    }
</script>