<div class="project-item">
<h4 id="{{ proj.name | url_encode }}">{{ proj.name }}</h4><p>{{ proj.date }}</p>

<!-- Cover Image -->
<div class="stack-items">
    {% for tech in proj.tech %}
    <div class="stack-item">
        <p>{{ tech }}</p>
    </div>
    {% endfor %}
</div>

<p>{{ proj.desc }}</p>

<!-- Cover Image -->
<div class="cover">
    {% if proj.cover-image %}
    <img style="width: 100%; height:auto; border-radius: 5px;" src="{{ site.url }}/assets/img/{{ proj.cover-image }}"/>
    {% elsif proj.video %}
    <div style="width: 100%; height:auto; text-align: center;">
        <iframe src="{{ proj.video }}?&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
</div>

<!-- Body -->
{% if proj.body %}
<div class="project-body">
    <button id="button-{{ forloop.index }}-{{ include.col }}" onclick="toggleContent('content-{{ forloop.index }}-{{ include.col }}', 'button-{{ forloop.index }}-{{ include.col }}')">▼ More info</button>
    <div class="body-content" id="content-{{ forloop.index }}-{{ include.col }}" style="display: none;">
        <p>{{ proj.body }}</p>
    </div>
</div>
{% endif %}

<!-- Links -->
{% if proj.code %}
<a class="desc-link" href="{{ proj.code }}" target="_blank">[Code]</a>
{% endif %}

{% if proj.demo %}
<a class="desc-link" href="{{ proj.demo }}" target="_blank">[Demo]</a>
{% endif %}

{% if proj.link %}
<a class="desc-link" href="{{ proj.link }}" target="_blank">[Link]</a>
{% endif %}
</div>