body {
    background-color: #e0e0df;
    text-align: center;
}

.floater {
    font-family: "Righteous-Regular";
    color: #8e8d8b;
    opacity: 0.75;
    font-size: 100px;
    text-align: center;
    position: relative;
    animation: float 5s ease-in-out infinite;    
}

.name {
    margin-top: 2%;
    margin-bottom: 0px;
}

@font-face{
    font-family: "Righteous-Regular";
    src: url("../fonts/Righteous-Regular.ttf");
}

@keyframes float {
    0% {
        transform: translatey(0px);
        opacity: 4;
    }
    50% {
        transform: translatey(35px);
        opacity: .75;
    }
    100% {
        transform: translatey(0px);
        opacity: 4; 
    }
}

/*.grow { transition: all .2s ease-in-out; }*/
.grow:hover { transform: scale(1.1);}

.links i {
    color: #8e8d8b;
    opacity: 0.75;
    padding: 10px 20px 0 20px;
}

.links ul {
    padding: 0px;
}

.links a {
    text-decoration: none;
    margin-bottom: 80px;
}

/*MOTHER PLANT*/
.art {
    padding-top: 5%;
    padding-bottom: 5%;
}
.art video {
    width: 35%;
    height: auto;
}

@media screen and (max-device-width: 700px) {
    .art {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .art video {
        width: 95%;
        height: auto;
    }
}