
.writing-container {
    padding: 3% 25% 0% 25%;
}

.writing-titles {
    margin: 5% 0 0 0;
}

.writing-title {
    padding: 2% 0 2% 0;
}

.writing-title a {
    text-decoration: none;
}

.writing-title a:hover {
    text-decoration: underline;
}
