<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158656421-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-158656421-3');
    </script>

    <meta charset="UTF-8">
    <title>AKR</title>
    <link rel="icon" href="/assets/images/init2.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {{ content }}        
</body>
</html>
